body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%; /* Set container width */
}

.question-container {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center; /* Center-align the text */
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 10px;
}

#progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#mastered-bar {
  height: 100%;
  background-color: green;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#learning-bar {
  height: 100%;
  background-color: red;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.answer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.answer-button {
  margin: 10px; /* Add some margin around each button */
  width: 30%; /* Set initial width to 25% of screen */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}

.answer-button img {
  width: 100%; /* Set image width to 100% of button's width */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .answer-button {
    width: 40%; /* Adjust button width for smaller devices */
  }
}


/* Media Query for smaller screens */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  #question-image {
    max-width: 50%; /* Set image width to 50% of screen for smaller devices */
    margin-bottom: 10px;
  }
}

